<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.18.0.css">
    <link rel="stylesheet" href="../style.css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/qunit/qunit-1.18.0.js"></script>
    <script src="../js/table.js"></script>
    <script>

        jQuery(document).ready(function(){
            table.createTable(15);
        });

        /*QUnit.test("tableTest.getCell", function(assert){
            for(var i = 0; i < 4; i++){
                for(var j = 0; j < 4; j++){
                    assert.equal(jQuery(table.getViewCell(i,j)).index(), j);
                    assert.equal(jQuery(table.getViewCell(i,j)).parent('tr').index(), i);
                }
            }
        });

        QUnit.test("tableTest.getArrayIndex", function(assert){
            assert.equal(table.getArrayIndex(0,0).i, 0);
            assert.equal(table.getArrayIndex(0,0).j, 0);

            assert.equal(table.getArrayIndex(2,2).i,1);
            assert.equal(table.getArrayIndex(2,2).j,1);

            assert.equal(table.getArrayIndex(4,2).i,2);
            assert.equal(table.getArrayIndex(4,2).j,1);
        });

        QUnit.test("tableTest.getIndexBuCell", function(assert){
            assert.equal(table.getCellIndex(jQuery('#table').find('tr:eq(1) td:eq(1)')).i, 1);
            assert.equal(table.getCellIndex(jQuery('#table').find('tr:eq(1) td:eq(1)')).j, 1);

            assert.equal(table.getCellIndex(jQuery('#table').find('tr:eq(3) td:eq(1)')).i, 3);
            assert.equal(table.getCellIndex(jQuery('#table').find('tr:eq(1) td:eq(0)')).j, 0);

            assert.equal(table.getCellIndex(jQuery('#table').find('tr:eq(2) td:eq(1)')).i, 2);
            assert.equal(table.getCellIndex(jQuery('#table').find('tr:eq(1) td:eq(1)')).j, 1);
        });

        QUnit.test("tableTest.markLine", function(assert){
            assert.equal(table.drawLine(jQuery('#table').find('tr:eq(1) td:eq(2)')).length,2);

            assert.equal(table.drawLine(jQuery('#table').find('tr:eq(1) td:eq(2)'))[0].i, 0);
            assert.equal(table.drawLine(jQuery('#table').find('tr:eq(1) td:eq(2)'))[1].i, 1);
            assert.equal(table.drawLine(jQuery('#table').find('tr:eq(1) td:eq(2)'))[0].j, 1);
            assert.equal(table.drawLine(jQuery('#table').find('tr:eq(1) td:eq(2)'))[1].j, 1);

            assert.equal(table.drawLine(jQuery('#table').find('tr:eq(2) td:eq(3)'))[0].i, 1);
            assert.equal(table.drawLine(jQuery('#table').find('tr:eq(2) td:eq(3)'))[1].i, 1);
            assert.equal(table.drawLine(jQuery('#table').find('tr:eq(2) td:eq(3)'))[0].j, 1);
            assert.equal(table.drawLine(jQuery('#table').find('tr:eq(2) td:eq(3)'))[1].j, 2);
        });*/

        var u = {
            name: 'John'
        };

        function t(){
            jQuery.ajax({
                url:'/register',
                method: 'POST',
                data: u,
                success: function(data){
                    console.log(data);
                },
                error: function(d){
                    console.log(d);
                }
            });
            return false;
        }

    </script>


</head>
<body>
<button onclick="t()">srthj</button>
<div id="qunit"></div>
<table id="table">

</table>

</body>
</html>