<!Doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="style.css">
    <!--Controllers-->
    <script src="js/registrationCtrl.js"></script>
    <script src="js/table.js"></script>

</head>
<body>

<div ng-app="myApp" ng-controller="regCtrl" data-ng-init="showRegWindow()">

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">tik-tack-toe</h4>
                </div>
                <div class="modal-body">
                    <br/>
                    name: <input type="text" ng-model="username" my-enter="myData.doClick(item, $event)"><br>
                    <br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="myData.doClick(item, $event)"
                            data-dismiss="modal">Ok
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End ng-myApp -->
<!-- Begin gameCtrl -->
<div ng-app="myApp" ng-controller="gameCtrl" data-ng-init="tryShowTable()">
    <table id="table">

    </table>
</div>
<!-- End ng-gameCtrl -->
</body>
</html>