.tall{
    height: 60px;
}

.low{
    height: 4px;
}

.wide{
    width: 60px;
}

.narrow{
    width:4px;
}

.marked{
     background-color: #b94a48 !important;
}

td:nth-child(even){
    background-color: aliceblue;
}

td:nth-child(even):hover, tr:nth-child(even):hover{
    cursor: pointer;
}

tr:nth-child(even){
     background-color: aliceblue;
 }

.opponentCell{
    background-color: #120db9 !important;
}

.myCell{
    background-color: #13b92a !important;
}