.tall{
    height: 60px;
}

.low{
    height: 4px;
}

.wide{
    width: 60px;
}

.narrow{
    width:4px;
}

.marked{
    background-color: #b94a48;
}

tr:nth-child(n+1){
    background-color: aliceblue;
}